.wrapper {
    display: flex;
    flex-direction: column;
}

.searchInput {
    border-radius: var(--border-8);
    border: 2px solid var(--color-stroke);
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    background-color: #2e2d3d;
    color: var(--color-text);
    width: 800px;
    height: 48px;
    padding: 0 15px;
    outline: none;
}

.searchInput:focus {
    border: 2px solid var(--color-link-hover);
}

@media (max-width: 860px) {
    .searchInput {
        width: 100%;     
    }
}