.headerWrapper {
    background-color: var(--color-bg-medium);
    height: 60px;
}

.headerWrapperNav {
    max-width: var(--layoud-width);
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 0 auto;
    height: 60px;
}

.navMenu {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 48px;
    list-style: none;
    padding-right: 40px;
}

.menuItem {
    text-decoration: none;
    font-size: 18px;
    line-height: 120%;
    color: var(--color-text);
    padding: 8px 16px;
}

.menuItem:hover {
    color: var(--color-link-hover);
}

/* Mobile Menu */

.mobileMenuToogle {
    position: absolute;
    background: var(--color-bg-medium);
    list-style: none;
    right: 3rem;
    width: 120px;
    margin-top: 250px;
    border-radius:  var(--border-8);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding: 0 5px;
    font-size: 24px;
    
}

.menuItemMobile {
    font-size: 16px;
    margin: auto 0;
    cursor: pointer;
    padding: 5px 15px;
}

/* TODO: remove */
.mobileMenuButton {
    display: none;
    /* background: none;
    border: none;
    cursor: pointer; */
}

/* Adaptive */

@media (max-width: 860px) {
    .navWrapper{
        display:none;
    }
    .mobileMenuButton{
        display: block;
        margin-right: 3rem;
        padding: 8px 18px;
    }
}