.headerWrapper {
    background-color: var(--color-bg-medium);
    height: 60px;
}

.headerWrapperNav {
    max-width: var(--layoud-width);
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 0 auto;
    height: 60px;
}

.navMenu {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 48px;
    list-style: none;
    padding-right: 40px;
}

.menuItem {
    text-decoration: none;
    font-size: 18px;
    line-height: 120%;
    color: var(--color-text);
    padding: 8px 16px;
}

.menuItem:hover {
    color: var(--color-link-hover);
}

.mobileMenu {
    display: none;
    background: none;
    border: none;
    cursor: pointer;

}


@media (max-width: 860px) {
    .navWrapper{
        display:none;
    }
    .mobileMenu{
        display: block;
        margin-right: 3rem;
 
    }

    button {
        border: none;
    }
    
    button:hover {
        border: 1px solid var(--color-stroke);
    }
    
    button:active {
        color: var(--color-stroke);
    }
}
