
.footer {
    background-color: var(--color-bg-medium);
    height: 140px;
}

.wrapper {
    max-width: var(--layoud-width);
    margin: 0 auto;
}

.social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.copywrite {
    display: flex;
    flex-wrap: nowrap;
    align-items:center;
    justify-content: space-between;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--color-link-hover);
    margin: 5px 3rem;
    
}

.copywrite a {
    color: var(--color-link-hover);
}

.copywrite a:hover {
    color: var(--color-text);
}

.socialIcons {
    display: flex;
    gap: 24px;
    margin-right: 3rem;
}

.socialIcon {
    border: 1px solid var(--color-stroke);
    border-radius: var(--border-8);
    padding: 12px 14px;

}

.socialIcon:hover {
    background-color: var(--color-link-hover);
}


@media (max-width: 640px) {
    .copywrite {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items:center;
        margin-bottom: 2rem;
    }
}